<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- removeIf(production) -->
    <link href="https://cdn.toolkit.lightstone.co.za/Lightstone.Design/v1/css/lightstone.css" rel="stylesheet" type="text/css" data-preload="true">
    <!-- endRemoveIf(production) -->
    <script type="text/javascript" src="https://ssotestsarfk.blob.core.windows.net/scripts/scripts.js"></script>
    <script type="text/javascript" src="https://localhost:5000/js/includeHTML.js"></script>
    <script type="text/javascript" src="https://cdn.toolkit.lightstone.co.za/Lightstone.Design/v1/vendor/intl-tel-input/js/intlTelInput.js"></script>
    <script type="text/javascript" src="https://unpkg.com/libphonenumber-js@1.10.24/bundle/libphonenumber-max.js"></script>
    <title>Login to Lightstone</title>
</head>

<body>
    <div class="single-sign-on">
    <div class="container col-lg-5 ssoContent" role="presentation">
      <div class="row main">
        <div class="formDisplay">
          <div class="panel panel-default formPanel">
            <div class="panel-body formBody">
              <a href="https://lightstone.co.za/">
                <img class="companyLogo" data-tenant-branding-logo="true" alt="Company Logo">
              </a>
              <div id="api" data-name="Unified" class="" role="main">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>