<!DOCTYPE html>
<html>
<head>

  <title>Choose your account</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="https://ssotestsarfk.blob.core.windows.net/scripts/scripts.js"></script>
  <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="single-sign-on">
    <div class="container col-lg-5 ssoContent" role="presentation">
      <div class="row main">
        <div class="formDisplay">
          <div class="panel panel-default formPanel">
            <div class="panel-body formBody">
              <a href="https://lightstone.co.za/">
                <img class="companyLogo" data-tenant-branding-logo="true" alt="Company Logo">
              </a>
              <div id="api" data-name="Unified" class="" role="main">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>