<html lang="en">

<head>

    <title>Sign up or sign in</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet"
        type="text/css">
    <!-- <link href="https://ssotestsarfk.blob.core.windows.net/b2ctemplates/azureblue/styles.css" rel="stylesheet" type="text/css"> -->
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <style>
        .no_display {
            display: none
        }

        .error_container h1 {
            color: #333;
            font-size: 1.2em;
            font-family: 'Segoe UI Light', Segoe, 'Segoe UI', SegoeUI-Light-final, Tahoma, Helvetica, Arial, sans-serif;
            font-weight: lighter
        }

        .error_container p {
            color: #333;
            font-size: .8em;
            font-family: 'Segoe UI', Segoe, SegoeUI-Regular-final, Tahoma, Helvetica, Arial, sans-serif;
            margin: 14px 0
        }
    </style>
</head>

<body>
    <noscript>
        <div id="no_js">
            <div class="error_container">
                <div>
                    <h1>We can't sign you in</h1>
                    <p>Your browser is currently set to block JavaScript. You need to allow JavaScript to use this
                        service.</p>
                    <p>To learn how to allow JavaScript or to find out whether your browser supports JavaScript, check
                        the online help in your web browser.</p>
                </div>
            </div>
        </div>
    </noscript>
    <div id="no_cookie" class="no_display">
        <div class="error_container">
            <div>
                <h1>We can't sign you in</h1>
                <p>Your browser is currently set to block cookies. You need to allow cookies to use this service.</p>
                <p>Cookies are small text files stored on your computer that tell us when you're signed in. To learn how
                    to allow cookies, check the online help in your web browser.</p>
                <script
                    nonce="ouzRG3BcuOjAEYqgde8j6w==">if (!navigator.cookieEnabled) document.getElementById('no_cookie').className = ''; if (typeof $diags !== 'undefined') $diags.initializationSuccessful = true;</script>
            </div>
        </div>
    </div>
    <div id="background_branding_container" data-tenant-branding-background-color="true">
        <img data-tenant-branding-background="true"
            src="https://ssotestsarfk.blob.core.windows.net/b2ctemplates/src/images/AdobeStock_491815751 1-min.png"
            alt="Illustration">
    </div>
    <div class="container  unified_container " role="presentation">
        <div class="row">
            <div class="col-lg-5 signinsignup">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <img class="companyLogo" data-tenant-branding-logo="true"
                            src="https://ssotestsarfk.blob.core.windows.net/b2ctemplates/src/images/LightstoneLogo.png"
                            alt="Company Logo">
                        <div id="api" data-name="Unified" role="main">
                            <div class="claims-provider-list-buttons social"
                                aria-label="Sign in with your social account" role="form">
                                <div class="intro">
                                    <h2 aria-level="1">Sign in with your social account</h2>
                                </div>
                                <div class="options">
                                    <div>
                                        <button class="accountButton firstButton claims-provider-selection"
                                            id="FacebookExchange" role="link" autofocus=""></button>
                                    </div>
                                    <div>
                                        <button class="accountButton claims-provider-selection"
                                            id="MicrosoftAccountExchange" role="link"></button>
                                    </div>
                                    <div>
                                        <button class="accountButton claims-provider-selection" id="GoogleExchange"
                                            role="link"></button>
                                    </div>
                                </div>
                            </div>

                            <div class="divider">
                                <h2>OR</h2>
                            </div>
                            <form id="localAccountForm" action="JavaScript:void(0);" class="localAccount"
                                aria-label="Sign in with your email address">
                                <div class="intro">
                                    <h2 aria-level="1">
                                        Sign in with your email address
                                    </h2>
                                </div>
                                <div class="error pageLevel" aria-hidden="true" role="alert" style="display: none;">
                                    <p></p>
                                </div>
                                <div class="entry">
                                    <div class="entry-item">
                                        <label for="signInName">
                                            Email Address
                                        </label>
                                        <div class="error itemLevel" aria-hidden="true" role="alert"
                                            style="display: none;">
                                            <p></p>
                                        </div>
                                        <input type="text" id="signInName" name="Email Address"
                                            title="Please enter a valid Email Address"
                                            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" autofocus=""
                                            placeholder="Email Address" aria-label="Email Address">
                                    </div>
                                    <div class="entry-item">
                                        <div class="password-label">
                                            <label for="password">Password</label>
                                            <a id="forgotPassword"
                                                href="/tridentdevlsg.onmicrosoft.com/B2C_1A_signup_signin/api/CombinedSigninAndSignup/forgotPassword?csrf_token=SVBUSFJoZE1VUk1Qd0dYcUJ3cUdjekV1TmVLd1grZlhLZmx0dVF2WUFRMjk1ejlVYnhMV1hIVXBjWEhtSGtweGFyVEgzdEFEcmVBNUlwRzRPbHFUL0E9PTsyMDI0LTA3LTIzVDEzOjMyOjIwLjM5MzY4MjJaO1ArZ3NWcElRYkZtUjFuRnc4L3F1YWc9PTt7Ik9yY2hlc3RyYXRpb25TdGVwIjoxfQ==&amp;tx=StateProperties=eyJUSUQiOiIzNjVmYjNhNS05NzgzLTRlODctYTIxOS1lNjA5NTM5ZjU2MjgifQ&amp;p=B2C_1A_signup_signin">Forgot
                                                your password?</a>
                                        </div>
                                        <div class="error itemLevel" aria-hidden="true" style="display: none;">
                                            <p role="alert"></p>
                                        </div>
                                        <input type="password" id="password" name="Password" placeholder="Password"
                                            aria-label="Password" autocomplete="current-password" aria-required="true">
                                    </div>
                                    <div class="working"></div>


                                    <div class="buttons">
                                        <button id="next" type="submit" form="localAccountForm">Sign in</button>
                                    </div>
                                </div>
                                <div class="divider">
                                    <h2>OR</h2>
                                </div>
                                <div class="create">
                                    <p>
                                        Don't have an account?<a id="createAccount"
                                            href="/tridentdevlsg.onmicrosoft.com/B2C_1A_signup_signin/api/CombinedSigninAndSignup/unified?local=signup&amp;csrf_token=SVBUSFJoZE1VUk1Qd0dYcUJ3cUdjekV1TmVLd1grZlhLZmx0dVF2WUFRMjk1ejlVYnhMV1hIVXBjWEhtSGtweGFyVEgzdEFEcmVBNUlwRzRPbHFUL0E9PTsyMDI0LTA3LTIzVDEzOjMyOjIwLjM5MzY4MjJaO1ArZ3NWcElRYkZtUjFuRnc4L3F1YWc9PTt7Ik9yY2hlc3RyYXRpb25TdGVwIjoxfQ==&amp;tx=StateProperties=eyJUSUQiOiIzNjVmYjNhNS05NzgzLTRlODctYTIxOS1lNjA5NTM5ZjU2MjgifQ&amp;p=B2C_1A_signup_signin">Sign
                                            up now</a>
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>